@inherits LayoutComponentBase

<div class="page bg-secondary min-vh-100 min-vw-100">
    <main>
        <article class="content w-50 mx-auto">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
